<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset="utf-8">
    <title>Video Image Classifier</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/main.css" />
</head>

<body style='padding-top:0px'>
    <header>
        <div class="siimple-navbar siimple-navbar--teal siimple-navbar--fluid" style='width:100%;'>
            <div class="siimple-layout--left">
                <a class="siimple-navbar-title" href='/'>Video Image Classifier</a>
            </div>
            <div class="siimple-layout--right">
                <a class="siimple-navbar-link" href='/'>Home</a>
                <a class="siimple-navbar-link" href='history'>History</a>
            </div>
        </div>
    </header>

    <article>
        <div style='text-align:center; padding-top:30px;'>
            <div class="siimple-h1" style='font-size:60px;'>Press the "CAPTURE" !</div>
            <video id="video" width: 520px; height: 390px; autoplay></video>
        </div>
        <div style='text-align:center; padding:30px 0px;'>
            <button id="capture" class="siimple-btn siimple-btn--teal" style='height:50px; width:150px; font-size:20px;'>CAPTURE</button>
        </div>
        <div style='text-align:center'>
            <canvas hidden id="canvas"></canvas>
        </div>
    </article>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">

    //APIを格納
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    //window.URLのAPIをすべてwindow.URLに統一
    window.URL = window.URL || window.webkitURL;

    if (!navigator.getUserMedia) {
        alert("カメラ非対応のブラウザです。");
    }

    // 変数
    var canvas = document.getElementById("canvas"), //idに一致する要素を変数に格納
        context = canvas.getContext("2d"),
        video = document.getElementById("video"),
        btnCapture = document.getElementById("capture"),
        videoObj = {
            video: true,
            audio: false
        };

    var localMediaStream;
    if (navigator.getUserMedia) {
        navigator.getUserMedia(videoObj, function (stream) {
            localMediaStream = stream;
            video.src = window.URL.createObjectURL(localMediaStream);

        }, function (error) {
            console.error("getUserMedia error: ", error.code);
        });
        btnCapture.addEventListener("click", function () {
            try { localMediaStream.stop() } catch (e) { console.log(e) }
            var img = context.drawImage(video, 0, 0, canvas.width, canvas.height);
            send_img(canvas);
        });
    }

    function send_img(canvas) {
        //base64データを取得（エンコード）
        var base64 = canvas.toDataURL('image/jpeg');
        var fData = new FormData();
        fData.append('img', base64);

        $.ajax({
            //画像処理サーバーに返す場合
            url: 'image_classify', //このurlを指定することによりserver.pyの@api.route('/image_classify')に送信
            type: 'POST', //request.methodに'POST'が格納される
            data: fData,
            contentType: false,
            processData: false,
            success: function (data, dataType) {
                console.log('Success');
                location.href = 'result';//結果表示サイトへリダイレクト
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //非同期で通信失敗時に読み出される
                console.log('Error : ' + errorThrown);
            }
        });
    };

</script>

</html>